.filter-bar {
    input {
        margin-right: -25px;
        padding-right: 25px;
    }

    button {
        background: none;
        border: none;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
}
