.tree-view {
    flex-basis: 400px;
    flex-shrink: 0;
    margin-top: 10px;
    ul {
        list-style: none;
        margin: 0;
        padding-left: 20px;
        display: none;
    }

    .folder,
    .feature {
        .title {
            border-top: 1px solid lightblue;
            padding: 5px;
            cursor: pointer;
            &:hover,
            &:focus,
            &.active {
                background-color: lightcyan;
            }
        }
    }
}
