.details-view {
    flex-grow: 1;
    border-left: 1px solid lightgray;
    margin-left: 10px;
    padding: 10px;

    h3 {
        margin-top: 0;
    }

    .feature-content {
        padding: 10px;
        max-width: 100%;
        height: 400px;
        background-color: #fafafa;
        border-radius: 5px;
        box-shadow: lightgray 5px 5px 5px 5px;
        overflow: auto;
    }
}
